{% extends 'blog/main.html' %}

{% block header %}

<div class="banner-grid-right">
    <h3>Принимая во внимание показатели успешности</h3>
    <p>Семантический разбор внешних противодействий выявляет срочную потребность
        стандартных подходов. Лишь элементы политического процесса,
        которые представляют собой яркий пример континентально-европейского типа политической культуры.</p>
</div>

{% endblock %}


{% block gallery %}

<div class="gallery-info">
<h3>Наша галерея</h3>
    <p>Мы вынуждены отталкиваться от того, что убеждённость некоторых оппонентов влечет за собой
        процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач.</p>
</div>

    <div class="portfolio-mian">
        <div class="portfolio-top">

            <div class="col-md-3 port-1-left">
                Первая колонка для цикла картинок
            </div>

            <div class="col-md-3 port-1-right">
                Вторая колонка для цикла картинок
            </div>

            <div class="col-md-3 portfolio-right">
                Третя колонка для цикла фото
            </div>

            <div class="col-md-3 port-1-right portfolio-last">
                Четвертая колонка для цикла фото
            </div>

            <div class="clearfix"></div>
        </div>
    </div>

{% endblock %}