<!--Sidebar -->

		<h5>Поиск по блогу</h5>
		<div class="search">
		  <form>
			<input type="text" value="Введите строку поиска..." onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
			<input type="submit" value="">
		  </form>
		</div>

		<div class="sidebar-bottom">
			<h5>Архив</h5>
			<ul>
				<li><a href="#">Февраль 2020</a></li>
				<li><a href="#">Январь 2020</a></li>
				<li><a href="#">Декабрь 2021</a></li>
				<li><a href="#">Ноябрь 2021</a></li>
				<li><a href="#">Октябрь 2025</a></li>
				<li><a href="#">Сентябрь 2025</a></li>
			</ul>
		</div>
		<div class="sidebar-last">
			<h5>Галерея</h5>
			<ul>
				<li><a href="images/p1.jpg"><img src="images/p1.jpg" alt="" ></a></li>
				<li><a href="images/p2.jpg"><img src="images/p2.jpg" alt="" ></a></li>
				<li><a href="images/p3.jpg"><img src="images/p3.jpg" alt="" ></a></li>
			</ul>
			<ul>
				<li><a href="images/p2.jpg"><img src="images/p2.jpg" alt="" ></a></li>
				<li><a href="images/p3.jpg"><img src="images/p3.jpg" alt="" ></a></li>
				<li><a href="images/p1.jpg"><img src="images/p1.jpg" alt="" ></a></li>
			</ul>
			<ul>
				<li><a href="images/p3.jpg"><img src="images/p3.jpg" alt="" ></a></li>
				<li><a href="images/p1.jpg"><img src="images/p1.jpg" alt="" ></a></li>
				<li><a href="images/p2.jpg"><img src="images/p2.jpg" alt="" ></a></li>
			</ul>
			</ul>
		</div>

	<!--End Sidebar -->
