{% extends 'blog/main.html' %}

{% block content %}
<h2>Заголовок статьи</h2>
<p>Изображение для статьи</p>
<p>Банальные, но неопровержимые выводы, а также активно развивающиеся страны третьего мира,
    превозмогая сложившуюся непростую экономическую ситуацию, ограничены исключительно образом мышления.
    Современные технологии достигли такого уровня, что современная методология разработки говорит
    о возможностях первоочередных требований.</p>
{% endblock %}

{% block sidebar %}

	{% include 'blog/sidebar.html' %}

{% endblock %}

